$input-sm-height: 2.5rem;
$input-md-height: 3rem;
$input-lg-height: 3.5rem;
$input-min-width: 250px;

$input-primary: #407bff;
$input-error: #f7374f;

.inputContainer {
  position: relative;
  width: fit-content;
}

.input {
  border: 1px solid #e6e9ee;
  border-radius: 8px;
  padding: 0 0.8rem;
  font-size: 1rem;
  outline: none;
  background: #fff;
  transition: border-color 0.2s ease;

  &:focus {
    border: 2px solid;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);

    &.primary {
      border-color: $input-primary;
    }

    &.error {
      border-color: $input-error;
    }
  }

  &.sizeSm {
    height: $input-sm-height;
    min-width: $input-min-width;
    font-size: 0.875rem;
  }

  &.sizeMd {
    height: $input-md-height;
    min-width: $input-min-width;
  }

  &.sizeLg {
    height: $input-lg-height;
    min-width: $input-min-width;
    font-size: 1.125rem;
  }
}

.inputIcon {
  color: #1e3662;
  position: absolute;
  cursor: pointer;
  height: 25px;
  width: 25px;
  right: 5px;
  top: 70%;
  transform: translateY(-65%);
}
